.container {
  border: 5px solid #ffcc5c;
  display: flex;
}

.home {

  flex-grow: 1;
  flex-shrink: 1;


  flex-basis: 400px;
}

/*
   flex: 1 1 0; 
   flex-grow: ;
   flex-shrink: ;
   flex-basis: ;

*/

.logout {
  
  flex-grow: 10;
  flex-shrink: 1;

  flex-basis: 400px;
}